[submodule "inicie-backend-exam"]
	path = inicie-backend-exam
	url = https://github.com/WilliamSantAna/inicie-backend-exam.git
[submodule "inicie-frontend-exam"]
	path = inicie-frontend-exam
	url = https://github.com/WilliamSantAna/inicie-frontend-exam.git
